# Git stuff
whogit() {
    git log --author="$1"
}

pupu() {
    git pull origin "$1" --rebase && git push origin "$1"
}

pst() {
    git stash; git pull origin "$1" --rebase; git push origin "$1"; git stash pop
}

pl() {
    git pull origin "$1" --rebase
}

psh() {
    git push origin "$1" --rebase
}

prb() {
  git push origin :"$1"; git push origin "$1";
}

gif() {
    git grep --cached "$1"
}

gsf() {
    git diff-tree --no-commit-id --name-only -r "$1"
}


perl_critic_this() {
    PERL5LIB="lib/:inc/Perl-Critic-Policy-BCritical/lib/" perlcritic --profile=.perlcriticrc $1
}

kpod () {
    kubectl get pods -o=json | jq -r '.items[0].metadata.name'
}

klogs () {
    pod_name=$(kubectl get pods -o=json | jq -r '.items[0].metadata.name')
    kubectl logs -f -c app $pod_name
}

kshell () {
    pod_name=$(kubectl get pods -o=json | jq -r '.items[0].metadata.name')
    kubectl exec -it $pod_name -- /bin/bash
}

docker_clean () {
    docker rm $(docker ps -q -f 'status=exited')
    docker rmi $(docker images -q -f 'dangling=true')
}
