" --------------- Basic Config ------------------

set number                     " show line numbers
set relativenumber             " show line numbers relative to cursor
set numberwidth=3              " set minimum columns used for line numbers
set hlsearch                   " highlight search matches"
set cursorline                 " set to highlight current line with cursor
set spell                      " enables spell checking
set mouse=a                    " ¯\_(ツ)_/¯ for some reason, I need this, to undo it again in the next line
set mouse-=a                   " Disable vim automatic visual mode on mouse select: https://gist.github.com/u0d7i/01f78999feff1e2a8361
" --------------- /Basic Config ------------------


let mapleader = "\"

" Code refactoring mappings
map <leader>rn <Action>(RenameElement)

" Code navigation mappings
nmap <leader>gd <Action>(GotoImplementation)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoDeclaration)
nmap <leader>gu <Action>(ShowUsages)

" with inspiration from the 'tomtom/tcomment_vim' plugin
map <C--><C--> <Action>(CommentByLineComment)
map <leader>-- <Action>(CommentByLineComment)
map <C-->b <Action>(CommentByBlockComment)
map <leader>-b <Action>(CommentByBlockComment)

