let mapleader = "\"

" Code refactoring mappings
map <leader>rn <Action>(RenameElement)

" Code navigation mappings
nmap <leader>gd <Action>(GotoImplementation)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoDeclaration)
nmap <leader>gu <Action>(ShowUsages)

" with inspiration from the 'tomtom/tcomment_vim' plugin
map <C--><C--> <Action>(CommentByLineComment)
map <leader>-- <Action>(CommentByLineComment)
map <C-->b <Action>(CommentByBlockComment)
map <leader>-b <Action>(CommentByBlockComment)

